@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <title>EduConnect | @ViewBag.Title</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta content="Un sait gratuit pentru studiu usor si efectiv" name="description" />
     <meta content="Coderthemes" name="author" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="~/Images/favicon.ico">

     <!-- Bootstrap core CSS -->
     @Styles.Render("~/bundles/bootstrap/css")

     @Styles.Render("~/bundles/loader/css")

     <!--Material Icon -->
     @Styles.Render("~/bundles/materialdesignicons/css")

     <!--pe-icon-7 Icon -->
     @Styles.Render("~/bundles/peicon7stroke/css")

     <!-- Custom  css -->
     @Styles.Render("~/bundles/style/css")

</head>

<body>

     <!-- Admin Header -->
     <header class="sticky nav-sticky">
          @Html.Partial("_AdminHeader")
     </header>
     <!-- Admin Nav Bar -->
     @*<nav>
               @Html.Partial("_AdminNavBar")
          </nav>*@
     <!-- Main view -->
     @RenderBody()

     <!-- Admin Footer -->
     <footer class="bg-dark footer text-white">
          @Html.Partial("_AdminFooter")
     </footer>

     <!-- javascript -->
     @Scripts.Render("~/bundles/jquery/js")
     @Scripts.Render("~/bundles/bootstrap/js")
     @Scripts.Render("~/bundles/scrollspy/js")

     <!-- counter js -->
     @Scripts.Render("~/bundles/counter/js")

     <!-- custom js -->
     @Scripts.Render("~/bundles/app/js")

     @Scripts.Render("~/bundles/loader/js")

     @RenderSection("scripts", required: false)
     <div id="loader-overlay">
          <div class="loader-container">
               <img src="@Url.Content("~/Images/loader.gif")" alt="Se incarca..." />
          </div>
     </div>
</body>
</html>