@model List<EduConnect.Models.Playlist>

@{
    ViewBag.Title = "Playlisturi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Playlisturile tale</h2>

@foreach (var playlist in Model)
{
    <div class="card mb-4">
        <div class="card-body">
            <h4>@playlist.Name</h4>
            <p>@playlist.Description</p>

            @foreach (var video in playlist.Videos)
            {
                <div class="mb-3">
                    <h5>@video.Title</h5>
                    <p>@video.Description</p>
                    <div class="ratio ratio-16x9">
                        <iframe src="@("https://www.youtube.com/embed/" + System.Web.HttpUtility.ParseQueryString(new Uri(video.YouTubeUrl).Query)["v"])" allowfullscreen></iframe>
                    </div>
                </div>
            }
        </div>
    </div>
}
