
@{
     Layout = "~/Views/Shared/_Layout_Log.cshtml";
     ViewBag.Title = "Register";
}

@using System.Web.Optimization;
@model EduConnect.Models.Reg.UserRegData

<h2>Register</h2>
@if (!ViewData.ModelState.IsValid)
{
     <div class="alert alert-danger">
          @Html.ValidationSummary(true)
     </div>
}
@using (Html.BeginForm("Reg", "Register", FormMethod.Post))
{
     <div class="container">
          <div class="form-group">
               @Html.LabelFor(u => u.Username)
               @Html.TextBoxFor(u => u.Username, new { @class = "form-control", placeholder = "Username" })
               @Html.ValidationMessageFor(u => u.Username, "", new { @class = "text-danger" })
          </div>

          <div class="form-group">
               @Html.LabelFor(u => u.Password)
               @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Parola" })
               @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
          </div>

          <div class="form-group">
               @Html.LabelFor(u => u.Email)
               @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
               @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
          </div>

          <button type="submit" class="btn btn-primary">Register</button>

     </div>
}
